.tabItemContainer {
  display: flex;
  padding: 10px;
  border-right: 1px solid var(--transparentBg);
  font-size: 12px;
  gap: 6px;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.tabItemContainer .fileNameStyle {
  color: var(--fontColor);
  opacity: 0.4;
}

.tabItemContainer.selected {
  border-right: 1px solid var(--transparentBg);
  color: var(--fontColor);
  background-color: var(--transparentBg);
}

.tabItemContainer.selected .fileNameStyle {
  opacity: 1;
}

.tabsContainer {
  display: flex;
  overflow-x: auto;
  border-bottom: 1px solid var(--transparentBg);
  height: 37px;
}

.closeButton {
  width: 16px;
  height: 16px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: background-color 0.5s;
  cursor: pointer;
  font-size: 16px;
  visibility: hidden;
  color: var(--fontColor);
}

.closeButton:hover {
  background-color: var(--transparentBg);
}

.tabItemContainer:hover .closeButton {
  visibility: visible;
}

.tabItemContainer.selected .closeButton {
  visibility: visible;
}

.unsavedStyle {
  font-size: 8px;
  color: rgba(255, 255, 255, 0.6);
}

div[data-theme='light'] .unsavedStyle {
  color: rgba(0, 0, 0, 0.6);
}
