.fileItemContainer {
  color: var(--fontColor);
  display: flex;
  flex-direction: column;
}

.fileNameStyle {
  padding: 6px 10px;
  font-size: 14px;
  display: flex;
  /* justify-content: space-between; */
  gap: 6px;
  align-items: center;
}

.fileNameStyle > svg {
  min-width: 18px;
  max-width: 18px;
  min-height: 18px;
  max-height: 18px;
}

.fileNameStyle:hover {
  background-color: rgba(255, 255, 255, 0.08);
  cursor: pointer;
}

.fileNameStyle.selected {
  background-color: var(--secondary);
}

.nestedContainer {
  margin-left: 16px;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}

.gitStatusText {
  width: 100%;
  text-align: right;
}
