.mainContainer {
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}

.sectionHeading {
  padding: 10px;
  border-bottom: 1px solid var(--transparentBg);
}

.filesList {
  overflow-y: auto;
  height: 100%;
  padding-top: 10px;
}

.branchContainer {
  width: 100%;
  padding: 10px;
  border-top: 1px solid var(--transparentBg);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 4px;
}

.branchContainer:hover {
  background-color: var(--transparentLightBg);
}

.branchContainer svg {
  width: 18px;
  height: 18px;
  opacity: 0.4;
  fill: var(--fontColor);
}
