.mainContainer {
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sectionHeading {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
}
