/* globals.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

:root {
  --primary: #2b253e;
  --secondary: #53389e;
  --secondaryDark: #311a70;
  --background: #0b0718;
  --fontColor: white;

  --transparentBg: rgba(255, 255, 255, 0.1);
  --transparentLightBg: rgba(255, 255, 255, 0.05);

  --gitModified: #b2b200;
  --gitUntracked: #008000;
}

[data-theme='light'] {
  --primary: #f0ebff;
  --secondary: #d1c4f1;
  --secondaryDark: #b59ede;
  --background: #f9f9fc;
  --fontColor: black;

  --transparentBg: rgba(0, 0, 0, 0.1);
  --transparentLightBg: rgba(0, 0, 0, 0.05);

  --gitModified: #9c8a00;
  --gitUntracked: #008000;
}

html,
body {
  height: 100%;
  color: var(--fontColor);
  font-size: 14px;
}

.secondaryHeading {
  font-size: 14px;
  color: var(--fontColor);
  opacity: 0.4;
}

.hiddenScrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hiddenScrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
